$main-color: white;
$title-color : black;

html, body{
  height: 100%;
  margin: 0;
  background-color: $main-color;
}

.container{
  min-height: 100%;
  position: relative;
}


footer{
  position: absolute;
  bottom:0;
  background: black;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1rem;
}


.title{
  background: black;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  color: white;
  font-size: 2.5rem;
}

.number-input-list{
 display: flex;
 text-align: center;
 justify-content: center;
 flex-direction: row; 
}

.number-output-list{
 overflow: hidden;
}

.cheat{
margin-top: -70px;
}

.output-clone{
 display: flex;
 justify-content: center;
 flex-direction: row;
}

.number-input, .number-output{
 color: white;
 width: 50px;
 height: 50px;
 margin: 10px;
 font-size: 50px;
 text-align: center;
 background-color: #181818;
 border-radius: 10px;
 border: 10;
 border-color: skyblue;  
 outline: 0;
}

.number-output{
 font-size: 30px;
}

.go, .restart{
  border-radius: 10px;
  background-color:#181818;
  outline: 0;
  width: 50px;
  height: 50px;
  margin: 10px;
  font-size: 15px;
  color:#c7c9d3;
  cursor: pointer;
  border-color: #bf172c;
  border-width: 3px;
}

.end-result{
  display: none;
  text-align: center;
}

.open-score{
  display: block;
}


.output-result{
  width: 145px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.num{
  width:10 px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}